body {
}
.spisok {
    background-color: bisque;
    width: 220px;
    color: black;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    float: left;
}

.aqudiv {
    background-color: aqua;
    width: 100%;
    color: black;
    border: 1px solid green;
    display: inline-block;
}

.darkgraydiv {
    display:block;
    background-color: darkgrey;
    width:1500px;
    float:left;

}


