body {
}
.aquapage {
    display: inline-block;
    width: 200px;
    height: 100px;
    margin: 10px;
    background-color:aquamarine;
}

.yellowliniya {
    background-color:bisque;
    
}